<div cdkDropListGroup class="start">

  <div  class="example-container" *ngFor="let t of board" >
    <div class="example-list" >
  <h2 class="title-task" (contextmenu)="onContextMenuRow($event, t)">{{t.name}}</h2>

  <div
    cdkDropList
    [cdkDropListData]="t.task"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of t.task" (contextmenu)="onContextMenuTask($event, item,t)"
         (click)="openTaskInformation(item)" cdkDrag>{{item.title}}</div>
    <div class="example-box" >
      <form >
        <mat-form-field class="example-full-width" >
          <mat-label>New task</mat-label>
          <input  matInput    #txtVal (keydown.enter)="saveTask($event,t.rowId)" >
        </mat-form-field>
      </form>
    </div>
  </div>
    </div>
</div>

  <div class="example-container">
    <form >
      <mat-form-field class="example-full-width" >
        <mat-label>New title</mat-label>
        <input  matInput    #txtVal (keydown.enter)="newRow($event)" >
      </mat-form-field>
    </form>
</div>
  <div style="visibility: hidden; position: fixed"
       [style.left]="contextMenuPosition.x"
       [style.top]="contextMenuPosition.y"
       [matMenuTriggerFor]="contextMenuRow">
  </div>
  <div style="visibility: hidden; position: fixed"
       [style.left]="contextMenuPosition.x"
       [style.top]="contextMenuPosition.y"
       [matMenuTriggerFor]="contextMenuTask">
  </div>
</div>
<mat-menu #contextMenuRow="matMenu">
  <ng-template matMenuContent let-item='row' >
    <button mat-menu-item (click)="onRightClickRow(item)">Delete {{item.name}} </button>
  </ng-template>
</mat-menu>

<mat-menu #contextMenuTask="matMenu">
  <ng-template matMenuContent let-item='task' let-row='row'>
    <button mat-menu-item (click)="onRightClickTask(item,row)">Delete {{item.title}} </button>
  </ng-template>
</mat-menu>
