.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.
 Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}






.sticky {
  width: 100%;
  z-index: 5;
  background: lightblue;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  width: 100%;
}
.form-control
{
  background: white;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

button
{
  background-color: #778cff;
}
.sideBar{
  float: left;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.5);
  background: lightblue;
  width: 10%;
  max-width: 200px;
  min-width: 100px;
  height: 100%;
padding-top: 70px;
  display: inline;
  min-height: 500px;
}
.text
{
  float: left;
}

/* The sidebar menu */
.sidenav {
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.5);
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: lightblue;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 70px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
