.start
{
  padding-top: 100px;
}
.example-card {
  background-color: lightblue;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}


.mat-button
{
  background-color: #778cff;
}
.mat-card-image
{

  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
}
.select-image
{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* error color in validation*/
.mat-input-invalid .mat-input-ripple {
  background-color: red;
}
