<form [formGroup]="boardFormGroup" >
  <div fxLayout="column">
    <mat-form-field >
      <input class="form-control" type="boardName" matInput placeholder="Board Name"
             formControlName="boardName" (ngModelChange)="readyToUpdate()" required
             minlength="{{boardNameMinLength}}" maxlength="{{boardNameMaxLength}}">
      <mat-error *ngIf="hasError('boardName', 'required')">Title is required</mat-error>
      <mat-error *ngIf="hasError('boardName', 'maxlength')">You have more than {{boardNameMaxLength}} characters</mat-error>
    </mat-form-field>
  </div>


  <input id="chooseFile" type="file" (change)="uploadFile($event)" accept="image/*" >
  <button mat-button mat-raised-button [mat-dialog-close]="">Back</button>
</form>
<div id="image">
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="300 / 80"
    [cropperMinHeight]="800"
    [cropperMinWidth]="3000"
    format="png"
    (imageCropped)="imageCropped($event)"
  ></image-cropper>
</div>
